  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Homepage Style start from here*/

/* Navbar design starts */

:where(.css-dev-only-do-not-override-1adbn6x).ant-layout-header {
  /* height: 64px;
  padding: 0 50px;
  line-height: 64px; */
  color: #88B51A !important;
  background: #88B51A !important;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-menu-dark, :where(.css-dev-only-do-not-override-1adbn6x).ant-menu-dark>.ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background: #88B51A !important;
}
/* Navbar design ends */



/* Homepage Style ends */

/* with text loading
/* :where(.css-dev-only-do-not-override-3mqfnx).ant-spin-lg .ant-spin-dot i {
  width: 20px !important;
  height: 20px !important;
  background: #88B51A !important;
} 

:where(.css-dev-only-do-not-override-3mqfnx).ant-spin-nested-loading >div>.ant-spin-lg.ant-spin-show-text .ant-spin-dot {
  height: 100px;
  width: 100px;
}

*/


/* Loading Page design */

/* Spin design starts*/
/* without text loading */
:where(.css-dev-only-do-not-override-3mqfnx).ant-spin-lg .ant-spin-dot i {
  width: 50px !important;
  height: 50px !important;
  background: #88B51A !important;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-spin-nested-loading >div>.ant-spin .ant-spin-dot {
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  margin: -10px;
  height: 100px;
  width: 100px
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-layout .ant-layout-sider-trigger {
  background: #88B51A !important;
}

/* Spin design ends*/


/* Sidebar colups color  */
:where(.css-dev-only-do-not-override-3mqfnx).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-3mqfnx).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  /* background: rgba(0, 0, 0, 0.02); */
  background: #88B51A !important;
}



/* Try responsive header*/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
  color: white;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 4.5em;
    padding: -0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #88B51A;
    z-index: 20;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #88B51A;
  }
}


/* Slider Design  starts*/
.slick-dots li.slick-active button:before {
  color: transparent !important;
}

.slick-dots li button:before {
  color: transparent !important;
}



